.vscode/
venv/
.venv/
db.sqlite3
.ipynb_checkpoints
.pytest_cache
**/.DS_Store
**/__pycache__
variables/
*.pkl
*.h5
*.html
.python-version
data./
helpers/__pycache__/__init__.cpython-38.pyc
helpers/__pycache__/activitydetector.cpython-38.pyc
helpers/__pycache__/__init__.cpython-38.pyc
helpers/__pycache__/activitydetector.cpython-38.pyc
